
body {
    margin: 0px;
}

/* HEADER AND NAVIGATION BAR */
header {
  position: fixed;
  color: #fff;
  padding: 2%;
  background-color:brown;
  width: 100%; z-index: 1;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
header a {
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-transform: uppercase;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 700;
}

nav a:hover {
  text-decoration: underline;
}


/* BACKGROUND IMAGS and related styling*/
.feature {
    height: 100vh;
    background-size: cover;
    position: relative;
}

.topimage {
    background-image: url('./images/potatoe1.jpg');
}

.middleimage {
    background-image: url('./images/potatoe2.jpg');
}

.bottomimage {
    background-image: url('./images/potatoe3.jpg');
}

img {
    height: 200px;
    width: auto;
}

.cta-box {
    
    background-color: green;
    position: absolute;
    bottom: 225px;
    left: 125px;
    color: white;
}